*{
  margin: 10px;
  font-family: sans-serif;
  background-color: #3E424B;
  color: #D9DDDC;
}

#badge{
  font-weight: bold;
  font-size: 3em;
  display: flex;
  justify-content: space-between;
}

#badge *{
  margin: 0;
  padding: 5px;
}

#badge #toggle{
  cursor: pointer;
}


table, th, td {
  border: 1px solid #D9DDDC;
  border-collapse: collapse;
  padding: 15px;
}

th:first-child{
  width: 70vw;
}

th{
  width: 15vw;
}

tr {
  height: 5vh;
  text-align: left;
}

#newRow{
  border: 1px solid #D9DDDC;
  border-collapse: collapse;
  padding: 15px;
  margin-top: -11px;
  cursor: pointer;
}

.toggle{
  cursor: pointer;
}

.active{
  background-color: #D6CFC7 !important;
}

.glyph{
  user-select: none;
}
